# uncomment to make all patterns case-insensitive in the rules file
# ENV.defaultStringMatchFlags = 66
# ENV.defaultStringPatternFlags = 66

# these Java classes will be used by the rules
ner = { type: "CLASS", value: "edu.stanford.nlp.ling.CoreAnnotations$NamedEntityTagAnnotation" }
tokens = { type: "CLASS", value: "edu.stanford.nlp.ling.CoreAnnotations$TokensAnnotation" }

# variables for complex regexes
$RELATIONS = "/brother|sister|sibling|mother|mom|mum|father|dad|parent|aunt|uncle|grandmother|grandfather|cousin|niece|nephew|husband|wife|spouse/"
$RELATIONS_INVERSE = "/child|daughter|son/"
# first phase identifies components of job titles
# a TokensRegex pipeline can run various stages
# to specify a particular stage, set ENV.defaults["stage"] to the stage number
ENV.defaults["stage"] = 1

# tokens match phase
{ ruleType: "tokens", pattern: ([{word:$RELATIONS}]), action: Annotate($0, ner, "RELATION") }
{ ruleType: "tokens", pattern: ([{word:$RELATIONS_INVERSE}]), action: Annotate($0, ner, "RELATIONINVERSE") }
{ ruleType: "tokens", pattern: ([{ner:/B-PERSON/}] [{ner:/I-PERSON/}]*), action: Annotate($0, ner, "NER_PERSON") }
{ ruleType: "tokens", pattern: ([{ner:/B-ORGANIZATION/}] [{ner:/I-ORGANIZATION/}]*), action: Annotate($0, ner, "NER_ORGANIZATION") }
{ ruleType: "tokens", pattern: ([{ner:/B-LOCATION/}] [{ner:/I-LOCATION/}]*), action: Annotate($0, ner, "NER_LOCATION") }
{ ruleType: "tokens", pattern: ([{ner:/B-MISC/}] [{ner:/I-MISC/}]*), action: Annotate($0, ner, "NER_MISC") }
{ ruleType: "tokens", pattern: ([{ner:/B-FOOD/}] [{ner:/I-FOOD/}]*), action: Annotate($0, ner, "NER_FOOD") }

# second phase identifies complete job titles from components found in first phase
ENV.defaults["stage"] = 2
{ ruleType: "tokens", pattern: (([{ner: "NER_PERSON"}]) ([{pos: "POS"}])),action: (Annotate($1, ner, "NER_PERSON"),Annotate($2, ner, "IGNORE"))}
{ ruleType: "tokens", pattern: (([{ner: "RELATION"}]) ([{pos: "POS"}])),action: (Annotate($1, ner, "RELATION"),Annotate($2, ner, "IGNORE"))}
{ ruleType: "tokens", pattern: ([{pos: "PRP$"}]),action: (Annotate($0, ner, "PRP"))}
{ ruleType: "tokens", pattern: ([{pos: "PRP"}]),action: (Annotate($0, ner, "PRP"))}
